<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- Disable Testcontainers Ryuk to avoid Docker Hub rate limits locally -->
      <TESTCONTAINERS_RYUK_DISABLED>true</TESTCONTAINERS_RYUK_DISABLED>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
